@import "../../styles.scss";

#grid {
    width: max-content;
    margin: 0 auto;
}

button {
    // display: none;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: $custom-cream;
    color: $custom-blue;
}

button:hover {
    border-color: $custom-red;
}