#grid {
    width: max-content;
    margin: 0 auto;
    // text-align: center;
    border-style: double;
    border-width: 3px;
}

button {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    // background-color: green
}
