<div id="menu" >
  <div id="defaults">
    <button class="button" (click)="sendGridSize('easy')"><h3>Easy (15x15)</h3></button>
    <button class="button" (click)="sendGridSize('medium')"><h3>Medium (20x20)</h3></button>
    <button class="button" (click)="sendGridSize('hard')"><h3>Hard (25x25)</h3></button>
  </div>
  <div id="custom">
    <input class="textbox" type="text" placeholder="columns" #box1 (keyup)="setColumns(box1.value)">
    <input class="textbox" type="text" placeholder="rows" #box2 (keyup)="setRows(box2.value)">
    <button class="button" (click)="sendGridSize('custom')"><h3>Custom</h3></button>
  </div>
</div>